---
import BaseLayout from '../layouts/BaseLayout.astro'

const FIRST_PROFESSIONAL_YEAR = 2021
const CURRENT_YEAR = new Date().getFullYear()
---

<BaseLayout title="About" description="Brief introduction about me" showMeter>
  <div class="mt-2 lg:mt-6">
    <h1>About me</h1>

    <p>
      I am a frontend engineer with {CURRENT_YEAR - FIRST_PROFESSIONAL_YEAR}+ years of experience, crafting user-friendly web
      applications that users love to engage with (hopefully). While I've gained experience contributing to a backend service
      with my company, my preference remains focused on frontend work. I find my passion and expertise lie in frontend
      development, where I excel and feel most at home. Below is my tech stack:
    </p>

    <ul>
      <li>
        <strong>Basics:</strong> HTML, Markdown, CSS, Javascript
      </li>
      <li>
        <strong>CSS libraries/extensions: </strong> SASS, Tailwind, Bootstrap
      </li>
      <li>
        <strong>Programming language:</strong> Typescript (a superset of Javascript)
      </li>
      <li>
        <strong>Web frameworks:</strong> React, Next, Astro
      </li>
      <li>
        <strong>Node.js frameworks:</strong> Koa, Express
      </li>
      <li>
        <strong>Documentation tool:</strong> Storybook
      </li>
      <li>
        <strong>Databases:</strong> SQL, Redis
      </li>
      <li>
        <strong>Bundlers:</strong> Vite, Rollup
      </li>
      <li>
        <strong>Deployments:</strong> Netlify, Vercel
      </li>
    </ul>

    <p>
      Aside from those, I have some knowledge related to Docker, MongoDB, Github Actions, and Vitest. During my college years, I
      delved into Python for my final assignment focusing on Natural Language Processing (NLP). Impressed by my work, my
      lecturer recommended me to assist non-IT master's degree students with their NLP thesis projects. I haven't actively used
      Python since graduation though.
    </p>

    <p>For my next journey, I want to learn (or learn further):</p>
    <ul>
      <li>
        <strong>React:</strong> My knowledge is stuck at React 17, as that's what's being used in the project at my current company.
        There hasn't been much pressure to learn React 18 since our project hasn't planned an upgrade anytime soon. However, I've
        noticed that React 19 seems to bring significant changes, so I think it's a good time for me to re-learn React.
      </li>
      <li>
        <strong>Other web frameworks:</strong> Exploring Remix and Solid.js to bolster my versatility sounds captivating. No intention
        of delving into Vue, Angular, or Svelte at the moment though.
      </li>
      <li>
        <strong>Testing tools:</strong> I haven't had much need for testing libraries like Cypress, React Testing Library, or Playwright
        as the testing responsibilities mainly fall on SDETs or QAs. However, I recognize the value in mastering these tools for
        future career growth, particularly if I pursue opportunities with companies that require the engineers to test more.
      </li>
      <li>
        <strong>Adulting:</strong> Participating in household duties, refining driving abilities, excelling in parenting, and enhancing
        communication skills all contribute to being dependable. Additionally, understanding religious laws, particularly in relation
        to finances and married life, is crucial for a comprehensive ethical understanding.
      </li>
    </ul>

    <p>
      While I primarily identify myself from a technical standpoint, my blog won't solely focus on technical topics. I plan to
      incorporate personal stuff and even non-technical book reviews into my content.
    </p>
  </div>
</BaseLayout>
