---
import BaseLayout from '../layouts/BaseLayout.astro'

const FIRST_PROFESSIONAL_YEAR = 2021
const CURRENT_YEAR = new Date().getFullYear()
---

<BaseLayout title="About" description="Brief introduction about me" showMeter>
  <div class="mt-2 lg:mt-6">
    <h1>About me</h1>

    <p>
      I am a frontend engineer with {CURRENT_YEAR - FIRST_PROFESSIONAL_YEAR}+ years of experience, crafting user-friendly web
      applications that users love to engage with (hopefully). While I've gained experience contributing to a backend service
      with my company, my preference remains focused on frontend work. I find my passion and expertise lie in frontend
      development, where I excel and feel most at home. Below is my tech stack:
    </p>

    <ul>
      <li>
        <strong>Basics:</strong> HTML, Markdown, CSS, Javascript, Typescript, Go
      </li>
      <li>
        <strong>CSS libraries/extensions: </strong> Sass, Tailwind, Bootstrap
      </li>
      <li>
        <strong>Web frameworks:</strong> React, Next, Astro
      </li>
      <li>
        <strong>Node.js frameworks:</strong> Koa, Express
      </li>
      <li>
        <strong>Documentation tool:</strong> Storybook, Docusaurus
      </li>
      <li>
        <strong>Databases:</strong> PostgreSQL, Redis
      </li>
      <li>
        <strong>Bundlers:</strong> Vite, Rollup
      </li>
      <li>
        <strong>Deployments:</strong> Netlify, Vercel
      </li>
    </ul>

    <p>
      Aside from those, I have some knowledge related to Docker, MongoDB, Github Actions, and Vitest. During my college years, I
      delved into Python for my final assignment focusing on Natural Language Processing (NLP). Impressed by my work, my
      lecturer recommended me to assist non-IT master's degree students with their NLP thesis projects. I haven't actively used
      Python since graduation though.
    </p>

    <p>
      While I primarily identify myself from a technical standpoint, my blog won't solely focus on technical topics. I plan to
      incorporate personal stuff and even non-technical book reviews into my content.
    </p>
  </div>
</BaseLayout>
