---
import BaseLayout from '../layouts/BaseLayout.astro'

const FIRST_PROFESSIONAL_YEAR = 2021
const CURRENT_YEAR = new Date().getFullYear()
---

<BaseLayout>
  <h1 class="font-extrabold text-3xl md:text-5xl text-pretty mt-6">About me</h1>

  <p class="mt-6 text-pretty">
    I am a frontend engineer with {CURRENT_YEAR - FIRST_PROFESSIONAL_YEAR}+ years of experience, crafting user-friendly web
    applications that users love to engage with (hopefully). While I've gained experience contributing to a backend service with
    my company, my preference remains focused on frontend work. I find my passion and expertise lie in frontend development,
    where I excel and feel most at home. Below is my tech stack:
  </p>

  <ul class="list-disc mt-6 ml-10 text-pretty">
    <li>
      <b>Basics:</b> HTML, Markdown, CSS, Javascript
    </li>
    <li>
      <b>CSS libraries/extensions: </b> SASS, Tailwind, Bootstrap
    </li>
    <li>
      <b>Programming language:</b> Typescript (a superset of Javascript)
    </li>
    <li>
      <b>Web frameworks:</b> React, Next, Astro
    </li>
    <li>
      <b>Node.js frameworks:</b> Koa, Express
    </li>
    <li>
      <b>Documentation tool:</b> Storybook
    </li>
    <li>
      <b>Databases:</b> SQL, Redis
    </li>
    <li>
      <b>Bundlers:</b> Vite, Rollup
    </li>
  </ul>

  <p class="mt-6 text-pretty">
    Aside from those, I have some knowledge related to Docker, MongoDB, Github Actions, and Vitest. During my college years, I
    delved into Python for my final assignment focusing on Natural Language Processing (NLP). Impressed by my work, my lecturer
    recommended me to assist non-IT master's degree students with their NLP thesis projects. I haven't actively used Python
    since graduation though.
  </p>

  <p class="mt-6 text-pretty">For my next journey, I want to learn (or learn further):</p>
  <ul class="list-disc mt-6 ml-10 text-pretty">
    <li>
      <b>React</b>: My knowledge is stuck at React 17, as that's what's being used in the project at my current company. There
      hasn't been much pressure to learn React 18 since our project hasn't planned an upgrade anytime soon. However, I've
      noticed that React 19 seems to bring significant changes, so I think it's a good time for me to re-learn React.
    </li>
  </ul>

  <p class="mt-6 text-pretty">
    While I primarily identify myself from a technical standpoint, my blog won't solely focus on technical topics. I plan to
    incorporate personal narratives and even non-technical book reviews into my content.
  </p>
</BaseLayout>
