---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <div class="mt-6">
    <p>
      If you're reading this, most likely you either:
      <ul class="list-disc ml-4">
        <li>found one of my blog from your browser's search result</li>
        <li>know my personal site through my social media</li>
      </ul>
    </p>
  </div>
</BaseLayout>
