---
import ThemeToggler from "./ThemeToggler.astro";
const links = [
  {
    title: "Home",
    link: "/",
  },
  {
    title: "Blog",
    link: "/blog",
  },
  {
    title: "About",
    link: "/about",
  },
];
---

<nav
  class="flex flex-row justify-center py-4 w-full px-4 sm:px-0 sm:w-1/2 m-auto"
>
  <div class="flex justify-between items-center w-full">
    <ul class="flex flex-wrap gap-3">
      {
        links.map(({ link, title }) => (
          <li>
            <a href={link} data-nav-link class="px-3 py-1 text-sm rounded-xl">
              {title}
            </a>
          </li>
        ))
      }
    </ul>
    <ThemeToggler />
  </div>
</nav>

<script>
  const activeLink = `/${window.location.pathname.split("/")[1]}`;
  const activeNavEl = document.querySelector(`nav a[href="${activeLink}"]`);
  if (activeNavEl) {
    activeNavEl.classList.add("bg-reverse");
    activeNavEl.classList.add("text-reverse");
    activeNavEl.classList.remove("hover:text-slate-600");
    activeNavEl.classList.remove("dark:hover:text-slate-400");
    activeNavEl.classList.remove("hover:bg-slate-300");
    activeNavEl.classList.remove("dark:hover:bg-slate-700");
  }
</script>
