---
import ThemeToggler from './ThemeToggler.astro'
const links = [
  {
    title: 'Home',
    link: '/'
  },
  {
    title: 'Blog',
    link: '/blog'
  },
  {
    title: 'About',
    link: '/about'
  }
]
---

<nav class="flex flex-row justify-center py-4 px-4 sm:px-0 sm:w-1/2 sm:m-auto font-medium">
  <div class="flex justify-between items-center w-full">
    <ul class="flex flex-wrap gap-3">
      {
        links.map(({ link, title }) => (
          <li>
            <a href={link} data-nav-link class="px-3 py-1 text-sm rounded-xl hover:bg-slate-200 dark:hover:bg-slate-800">
              {title}
            </a>
          </li>
        ))
      }
    </ul>
    <ThemeToggler />
  </div>
</nav>

<script>
  const activeLink = `/${window.location.pathname.split('/')[1]}`
  const activeNavEl = document.querySelector(`nav a[href="${activeLink}"]`)
  if (activeNavEl) {
    activeNavEl.classList.add('bg-reverse')
    activeNavEl.classList.add('text-reverse')
    activeNavEl.classList.remove('hover:bg-slate-200')
    activeNavEl.classList.remove('dark:hover:bg-slate-800')
  }
</script>
