---
import ThemeToggler from "./ThemeToggler.astro";
const links = [
  {
    title: 'Home',
    link: '/'
  },
  {
    title: 'Blog',
    link: '/blog'
  },
  {
    title: 'About',
    link: '/about'
  }
]
---

<nav class="flex flex-row justify-center py-4 w-full sm:w-1/2 m-auto">
  <div class="flex justify-between items-center w-full">
    <ul class="flex flex-wrap">
      {links.map(({link, title}) => (
        <li>
          <a href={link} class="px-4 py-2">{title}</a>  
          </li>
          ))}
  </ul>
  <ThemeToggler />
</div>
</nav>