---
import ThemeToggler from './ThemeToggler.astro'
const links = [
  {
    title: 'Home',
    link: '/'
  },
  {
    title: 'About',
    link: '/about'
  },
  {
    title: 'Blog',
    link: '/blog'
  },
  {
    title: 'Project',
    link: '/project'
  },
  {
    title: 'Review',
    link: '/review'
  }
]
---

<nav class="flex flex-row justify-center py-4 px-4 sm:px-0 w-full sm:m-auto sticky top-0 z-10 bg-slate-100 dark:bg-slate-900">
  <div class="flex justify-between items-center w-full sm:w-3/4 lg:w-1/2 font-medium">
    <ul class="flex flex-wrap gap-3 md:gap-6">
      {
        links.map(({ link, title }) => (
          <li>
            <a href={link} data-nav-link class="text-sm hover:border-b-2 hover:border-slate-800 dark:hover:border-slate-300">
              {title}
            </a>
          </li>
        ))
      }
    </ul>

    <ThemeToggler />
  </div>
</nav>

<script>
  const activeLink = `/${window.location.pathname.split('/')[1]}`
  const activeNavEl = document.querySelector(`nav a[href="${activeLink}"]`)
  if (activeNavEl) {
    activeNavEl.classList.add('border-b-2')
    activeNavEl.classList.add('border-slate-800')
    activeNavEl.classList.add('dark:border-slate-300')
    activeNavEl.classList.remove('hover:border-slate-800')
    activeNavEl.classList.remove('dark:hover:border-slate-300')
  }
</script>
